
{% load static %}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lightbox.min.csss' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.min.css' %}">
    <script src="{% static 'js/lightbox-plus-jquery.min.js' %}" type="text/javascript"></script>
    
    
    <style>
     *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.gallery{
    width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
}
.gallery img{
    width: 300px;
    height:auto;
    transition: 0.5s;
}
.gallery img:hover{
    filter: grayscale(80%);
    transform: scale(1.02);
}
    </style>
    <script>

    </script>
</head>
<body>
        <div class="gallery" padding-top="40px"; >
        <a href="{% static 'images/one.jpg' %}" data-lightbox='mygallery' data-title="Image"><img src="{% static 'images/one.jpg' %}"></a>
        <a href="{% static 'images/two.jpg' %}" data-lightbox='mygallery' data-title="Image"><img src="{% static 'images/two.jpg' %}"></a>
        <a href="{% static 'images/three.jpg' %}" data-lightbox='mygallery' data-title="Image"><img src="{% static 'images/three.jpg' %}"></a>
        <a href="{% static 'images/four.jpg' %}" data-lightbox='mygallery' data-title="Image"><img src="{% static 'images/four.jpg' %}"></a>
        <a href="{% static 'images/seven.jpg' %}" data-lightbox='mygallery' data-title="Image"><img src="{% static 'images/seven.jpg' %}"></a>
        <a href="{% static 'images/eight.jpg' %}" data-lightbox='mygallery' data-title="Image"><img src="{% static 'images/eight.jpg' %}"></a>
        <a href="{% static 'images/nine.jpg' %}" data-lightbox='mygallery' data-title="Image"><img src="{% static 'images/nine.jpg' %}"></a>
        <a href="{% static 'images/ten.jpg' %}" data-lightbox='mygallery' data-title="Image"><img src="{% static 'images/ten.jpg' %}"></a>
        
        
        
    </div>

</body>
</html>